* {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 18px;
    color: black;
}

.text {
    font-size: 18px;
    color: darkolivegreen;
}

.linespace {
    display:block;
    height: 11px;
    width: auto;
}

.recipe {
    display:block;
    width: 60%;
}

.ingredients p {
    margin:0;
}

.drinkdrawing {
    height: auto;
    width: 250px;
}

a {
    text-decoration: none;
    color: darkolivegreen;
}

a:hover::before {
    content: "♥ ";
}

a:active::before {
    content: "♥ ";
}

a:active {
    font-style: bold;
}